body {
    font-family: "Montserrat", sans-serif;
    font-size: 16px;
    line-height: 28px;
}
.main .home {
    background-image: url("/assets/images/background.jpg");
    background-position: center;
    background-size: cover;
    height: 100vh;
    overflow: hidden;
    position: relative;
}
.main .home::after {
    background-color: #000000;
    bottom: 0;
    content: "";
    left: 0;
    opacity: 0.6;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
}
.main .home #particle {
    height: 100%;
    position: relative;
    width: 100%;
    z-index: 9;
}
.main .home .content {
    left: 50%;
    max-width: 480px;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 100%;
    z-index: 11;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.main .home .content img {
    border-radius: 50%;
    height: 180px;
    width: 180px;
}
.main .home .content h1 {
    color: #ffffff;
    font-family: "Montserrat", sans-serif;
    font-size: 30px;
    font-weight: 600;
    line-height: 1.5;
    margin: 15px 0 7.5px;
}
.main .home .content p {
    color: #ffffff;
    margin-bottom: 15px;
}
.main .home .content ul {
    list-style: none;
    margin: 0;
    padding: 0;
    -ms-flex-align: center;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: center;
    justify-content: center;
}
.main .home .content li {
    margin: 7.5px;
}
.main .home .content i {
    background-color: #ffffff;
    border-radius: 50%;
    color: #000000;
    font-size: 18px;
    height: 36px;
    line-height: 36px;
    width: 36px;
}
@media (max-width: 575px) {
    .main .home .content {
        max-width: 75%;
    }
}
